$main:#7ED321;
$second : #A1D190;
$title: #04a2a3;
$warning: #da3450;
$unable:#9B9B9B;
$able:#F5A623;
$base:#ff6666;

$font-family-set: "Open Sans",'Microsoft JhengHei',sans-serif;
$font-family-title: 'elveticaNeue-Bold';
$font-title: 24px;
$font-span: 18px;
