@mixin clearfix{
    display:block;
    content:'';
    clear:both;
}
@mixin text-hide{
    text-indent: 101%;    
    overflow: hidden;     
    white-space: nowrap;
}

// media
@mixin padX {
    @media(max-width: 1024px){
        @content
    }
} 
@mixin padY {
    @media(max-width: 768px){
        @content
    }
}
@mixin i5X {
    @media(max-width: 568px){
        @content
    }
}
@mixin i5Y {
    @media(max-width: 320px){
        @content
    }
}
