nav {
    display: flex;
    margin-bottom : 27px;
    background-color: #000;
    .nav-item{
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding:30px;
        height:96px;
    }
    .nav-item:nth-child(1){
        margin-right: 60px;
    }
    .nav-item:nth-child(2),.nav-item:nth-child(3),.nav-item:nth-child(4){
        margin-right: 40px;
        color:#9B9B9B;
        &:focus, &:hover{
            color: white;
            border-bottom:5px solid #fff;
        }
    }
    .sign-out{
        margin-left:auto;
        color:#fff;
        &:hover{
            cursor: pointer;
        }
    }
}