.admin-nav {
    display: flex;
    margin-bottom : 27px;
    background-color: #333;
    padding: 0px;
    .menu-btn-checkbox{
        cursor: pointer;
        position: absolute;
        width:34px;
        height:28px;
        left:11px;
        opacity: 0;

        &:checked ~ .admin-menu {
            max-height: 500px;
        }
    }
    .admin-show-menu{
        display: none;
        margin-right:auto;
        color:#fff;
        padding-left: 13px;
        @include i5X{
            display: block; 
        }
    }
    .nav-link{
        text-decoration: none;
        color: #fff;
        text-align: center;
        margin: 0;
        cursor: pointer;
        font-size: 22px;
        @include i5X{
            display: none;
        }
    }
    ul{
        list-style: none;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .admin-menu{
        display: flex;
        margin-left: auto;
        transition: max-height 1s;
        @include i5X{
            max-height: 0px;
            overflow: hidden;
            display: block; 
            margin:0;
            text-align: left;
            position: absolute;
            left:0;
            right:0;
            top:60.48px;
            width:100%;
            z-index: 888;
            background-color: rgba(0,0,0,0.7);
        }
    }
    li{
        font-size: $font-span;
        padding:20px;
        cursor: pointer;
        &:hover{
            background-color: #eee;
        }
        &:hover .nav-item{
            color:#333
        }
        @include i5X{
            border-bottom: 1px solid #333;
            &:hover{
                background-color: transparent;
            }
            &:hover .nav-item{
                color:$base;
            }
        }
    }
    .nav-item{
        text-decoration: none;
        color: #fff;
        text-align: center;
        margin:0;
        font-weight: 900;
        @include padY{
            font-size: 16px;        
        }
    }
    .sign-out{
        text-decoration: none;
        color: #fff !important;
        text-align: center;
        font-weight: 900;
        font-size: 18px;
        padding: 20px;
        cursor: pointer;
        &:hover{
            color:#333
        }
        @include padY{
            font-size: 14px;
        }
        @include i5X{
            padding: 20px 10px 20px 0px;
        }
    }
}