.nav-bar {
    display: flex;
    padding: 30px 0px 5px 0px;
    border-bottom: #3F5D45 1px solid;
    h1 a{
        background-image: url(./assets/image/logo-all-dark.svg);
        background-repeat :no-repeat;
        display: block;
        text-indent: 101%;    
        overflow: hidden;     
        white-space: nowrap;
    }
    .topmenu{
        display: flex;
        li{
            list-style:none;
            text-decoration: none;
            .topmenu-item{
                list-style:none;
                text-decoration: none;
                color: #3F5D45;
                text-decoration:none;
                font-size: 18px;
                padding: 37px;
                letter-spacing: 5px;
                font-family:Microsoft JhengHei;
                position: relative;
                &:hover{       
                    background: #3F5D45;
                    color: #fff;
                }
                .cart-num{
                    position: absolute;
                    top:23px;
                    right:23px;
                    letter-spacing: 0px;
                }
            }
        }
    }
}

