/* product-img-group */
.product-img-group{
    font-family: $font-family-tai;
    .product-img{
        height: 450px;
        width: auto;
        background-size: cover;
        background-position: center center; 
        margin: 0 auto;
    }
}

/* product-txt-group  */
.product-txt-group{
    .product-title{
        color: $main;
        font-size: 26px;
        letter-spacing: 1px;
        margin-top: 30px;
        padding-bottom: 30px;
        border-bottom: $second 1px solid;
        font-family: $font-family-tai;
    }
    .product-txt{
        font-size: 16px;
        color : #8dce4e
    }
    .product-detail{
        font-size: 16px;
        font-family: $font-family-tai;
    }
    .num-group{
        position: absolute;
        bottom:0;
        width:100%;
        .product-price{
            font-size: 40px;
            margin-right: 24px;
        }
        .product-og-price{
            font-size: 24px;
            text-decoration:line-through;
        }
        .num-box{
            position: relative;
            display: flex;
            margin-top: 10px;
            &:before{
                content: "\f218";
                font-weight: 800;
                font-family: "Font Awesome 5 Free"; 
                top:0;
                left:0;
                position: absolute;
                display: inline-block;
                line-height: 50px;
                text-align: center;
                width:50px;
                height: 50px;
                color: white;  
                background-color: $main; 
                outline: none;
                cursor: pointer; 
            }
            select{
                appearance: button;
                width:45%;
                height:50px;
                text-align-last: center;
                font-size: 20px;         
                color: $main;
                text-indent: 55px;
                option{
                    text-align: center;
                }
            }           
            .num-btn{
                margin:0;
                display: block;
                width: 30%;
                height:50px;
                padding:10px;
                text-align: center;
                background-color: $four;
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                border-radius: 5px;
                letter-spacing: 2px;
                margin-left: 105px;
                &:hover{
                    color: #fff;
                    background-color: $four;
                }
            }
        }      
    }
}