
.dialog-content{
    width:450px;
    border: solid #ccc 1px;
    border-radius: 5px;
    margin: 0 auto;
    transform: translateY(25%);
    padding:15px;
    box-shadow: 1px 1px 1px $unable;
    font-family: $font-family-set;
    .dialog-text{
        margin-bottom:25px;
            text-align: center;
        }
    input[type="email"], input[type="password"]{
        padding:10px;
        margin-bottom: 15px;              
    }
    .dialog-btn{
        width: 100%;
        padding: 10px;
        display: block;
        background-color: $base;
        color: #000;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        &:hover{
            color: #fff;
        }
    }
}

