
.product-group{  
    margin: 120px auto 30px auto;
    padding: 0px 30px;
    @include padY{
        margin: 90px auto 30px auto;
        padding: 0;
        max-width:90%;
    }
    @include i5Y{
        margin: 90px auto 30px auto;
        padding: 0;
        max-width:90%;
    }
    
    //product-img-group 
    .product-img-group{
        font-family: $font-family-set;
        padding: 0;
        @include padY{
            padding: 5px;
        }
        .product-img{
            height: 350px;
            background-size: cover;
            background-position: center center; 
            margin: 0 auto;
            @include padY{
                height: 350px;
            }
        }
    }

    //product-txt-group 
    .product-txt-group{
        font-family: $font-family-set;
        @include padX{
            padding: 0px 10px !important;
        }
        @include padY{
            padding: 0px 5px;
        }
        .product-title{
            font-size: $font-title;
            font-family: $font-family-title;
            line-height:1;
            font-weight: 900;
        }
        .badge-color{
            background-color: $second;
            color:#fff;
        }
        @include padY{
            padding:0;
        }
    }

    //product-btn-group  
    .product-btn-group{
        border: 1px solid $unable;
        padding:30px 20px;
        margin-right:0px;
        @include padY{
            max-width: 100%;
            margin:0 auto;
        }
        @include i5X{
            max-width: 95%;
            margin:0 auto;
        }
        .price{
            font-size: 3em;
            font-weight:bolder;
        }
        .qty-group{
            p{
                margin-top: 20px;
                font-weight: bolder;
                font-size: 18px;
                letter-spacing: 1px
            }
            .select{
                width:100%;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                border: 2px solid #EEE;
                padding: 5% 41%;
                font-size: 1em;
                outline: none;
            }
            
        }
        .addTocart {
            border:none;
            outline: none;
            position: relative;
            display: block;
            background:#E25050;
            width: 100%;
            margin-top: 40px;
            padding: 10px;
            &:hover {
                background: #303030;
                background-position: 0 0;
            }
            span{
                font-weight: 900;
                font-size: 20px;
                line-height: 22px;
                padding: 12px 5px 14px 60px;
                color: #FFF;
                display: block;
            }
            &::before {
                content: "";
                background: url(./assets/image/shopping-cart.png) no-repeat center center;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                color: #FFF;
                font-size: 25px;
                z-index: 2;
                width: 50px;
                border-right: 1px solid #fff;
            }
        }
    }

    .product-txt-group , .product-btn-group{
        @include padY{
            margin-top: 30px;
        }
    }

    .des-area{
        margin: 30px 0px 0px 0px;
        padding: 0;
        display: block;
        @include padY{
            max-width: 100%;
            margin:0 auto;
        }
        @include i5X{
            max-width: 95%;
            margin:0 auto;
        }
        .des-span{
            font-size: $font-title;
            font-family: $font-family-title;     
        }
        p{
            margin-top: 10px;
            font-size: 16px;
            font-family:$font-family-set
        }
        @include i5Y{
            display: none;
        }
    }
    
    .page-back{
        text-decoration: none;
        color :#fff;
        padding: 7px;
        background-color: $base;
        margin-top: 10px;
        display: block;
        text-align: center;
        font-weight: bold;
        &:hover{
            background-color: #000;
        }
    }
}