/* cart-icon */
.cart-icon{
    list-style:none;
    text-decoration: none;
    color: #fff;
    text-decoration:none;
    font-size: 18px;
    padding: 28px;
    font-family:$font-family-set;
    position: relative;
    &:hover{       
        cursor: pointer;
    }
    i{
        font-size: 18px;
    }
    .cart-num{
        position: absolute;
        top:12px;
        left:45px;
        color:#fff;
        background-color: $base;
        @include padY{
            top:17px;
            left:45px;
        }
    }
}

/* cart-modal */
.cart-modal{
    position: fixed;
    z-index: 100 !important;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding:0px 10px;
    .table td{
        border :none;
        padding: 0;
    }
    .cart-modal-content{
        background-color: #fff;
        position: fixed;
        z-index : 50;
        width: 350px;
        height: auto;
        right: 15px;
        top: 110px;
        border: 1px solid  $unable;
        border-radius: 3px;
        padding:15px;
        @include i5X{
            width: 95%;
            top: 120px;
            right:0;
            left:0;
            margin:0 auto;
        }
        @include i5Y{
            width: 90%;
        }
        &:before{
            width:30px;
            height:30px;
            position: absolute;
            margin-top:-31px;
            right:20px;
            transform: rotate(45deg);
            border:none;
            border-left: 1px solid $unable;
            background: #fff;
            content:'',
        }
        .cart-modal-text{
            display: block;
            text-align: center;
            font-size: 18px;
            letter-spacing: 2px;
            font-family: $font-family-set;
        }
        .cart-menu-scroll{
            max-height: 30vh;
            overflow-y: auto;
            .cart-info{
                text-align: center;
                letter-spacing: 2px;
                font-size: 16px;
                font-style: italic;
                padding-top:40px;
                padding-bottom:20px;
                border-top: 1px solid $unable;
                margin-top: 5px;
            }
            .remove-icon{
                text-decoration: none;
                color: $unable;
                font-size: 24px;
                &:hover{
                    color: $base;
                }
            }
            .cart-img{
                background-position: center center;
                background-size: cover;
                display: inline-block;
                height: 120px;
                width: 120px;
                @include i5Y{
                    height: 80px;
                    width: 80px;
                }
            }
            span{
                font-size: 20px;
                font-family: $font-family-set;
            }
        }
        .cart-modal-footer{
            .total-area{
                padding:0px 10px 10px 10px;
                span{
                    font-family: $font-family-set;
                    font-weight: bold;
                    font-size: 24px;
                    padding-top:5px;
                }
            }         
            .checkout-btn{
                letter-spacing: 3px;
                margin-bottom: 5px;
                width: 100%;
                display: block;
                background-color: $base;
                color: #fff;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                font-weight: 800;
                cursor: pointer;
                padding: 5px;
                font-family: $font-family-set;
                &:hover{
                    background-color: $base;
                    color: #000;
                }
            }
        }
    }
}
