nav{
    display: flex;
    align-items:center;
    background-color: #333;
    margin-bottom: 0;
    position: fixed;
    width:100%;
    z-index:9999;
    padding: 10px 0px;
    @include padY{
        padding: 15px 0px;
    }
    .menu-img{
        display: flex;
        align-items:center;
        padding-left: 5px;
        @include padY{
            padding-left: 38px;
            margin:0 auto;
        }
        h1 a{
            background-image: url(./assets/image/logo.png);
            background-repeat :no-repeat;
            display: block;
            @include text-hide;         
        }
    }
    .menu-button-checkbox{
        cursor: pointer;
        position: absolute;
        width:32px;
        height:28px;
        left:12px;
        /* ################## */
        opacity: 0;
        &:checked ~ .menu {
            max-height: 500px;
        }
        /* ################## */
    }
    .menu{
        margin-bottom: 0px;
        margin-left: auto;
        display: flex;
        @include padY{
            /* ################## */
            max-height: 0px;
            overflow: hidden;
            transition: max-height 1s; 
            /* ################## */
            position: absolute;
            z-index: 9999999;
            background-color: rgba(0,0,0,0.7);
            padding-left: 0;
            top: 86px;
            left: 0;
            right: 0;
            display: block;
            text-align: left;
        }
        li{
            list-style:none;
            margin:0;  
            .menu-item{
                text-decoration: none;
                color:#eee;
                font-weight: 900;
                font-size: 20px;
                padding: 26.5px 20px;
                &:hover, &:focus, &.active{
                    color:$base;
                } 
                @include padY{
                    padding: 15px 0px 15px 15px;
                    border-bottom : 1px solid #333;
                    display: block;
                    width:100%;
                    font-size: 20px;
                    color:#eee;
                    &:hover, &:focus, &.active{
                        color:$base;
                    }
                } 
            }
        }
    }
    .show-menu{
        display: none;
        color:#fff;
        padding-left: 13px;
        @include padY{
            display: block; 
        }
    }
}
